<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'game/css/base.css' %}">
    {% block extra_css %}{% endblock %}
    <link rel="stylesheet" href="{% static 'game/libs/fontawesome/css/all.min.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
    {% block extra_js %}{% endblock %}
</head>
<body>
    {% block content %}
    {% endblock %}
</body>
</html>