<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>{% if mode == 'register' %}Register{% else %}Login{% endif %}</title>
    <link rel="stylesheet" href="{% static 'accounts/css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">

</head>
<body>
<div class="container">
    <div class="toggle-btns">
        <a href="{% url 'login' %}" class="{% if mode == 'login' %}active{% endif %}">LOGIN</a>
        <a href="{% url 'register' %}" class="{% if mode == 'register' %}active{% endif %}">REGISTER</a>
    </div>

    <div class="form-container">
        <form method="post">
            {% csrf_token %}

            {% for field in form %}
                <div class="form-group">
                    {{ field }}
                    <label for="{{ field.id_for_label }}">{{ field.label }}:</label>
                </div>
            {% endfor %}

            {% if form.non_field_errors %}
                <div class="error-box"><p class="error">{{ form.non_field_errors }}</p></div>
            {% endif %}

            <button type="submit">
                {% if mode == 'login' %}LOGIN{% else %}REGISTER{% endif %}
            </button>

        </form>
    </div>

    
</div>
</body>
</html>
