body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #000;
    color: #0f0;
    text-align: center;
    margin: 0;
    padding: 20px;
}

h1 {
    font-size: 48px;
    animation: pulse 1.5s infinite;
}

@keyframes pulse {
    0%, 100% {
        color: #af4c4c;
    }
    50% {
        color: rgb(255, 0, 0);
    }
}

p {
    font-size: 20px;
    margin-bottom: 30px;
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #0f0;
    background-color: #000;
    color: #0f0;
    border-radius: 5px;
}

button:hover {
    background-color: #111;
    box-shadow: 0 0 10px #0f0;
}