<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Practice Mode</title>
    <link rel="stylesheet" href="{% static 'game/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'game/css/prac_style.css' %}">
    <script src="{% static 'game/js/practice.js' %}"></script>
</head>
<body>
    <div id="terminal">
        <p><strong>Task:</strong> {{ question.task }}</p>
        <div id="prompt">
            <span>{{ player }}@linux-gamified:~$</span>
            <input type="hidden" id="question_id" value="{{ question.id }}">
            <input type="text" id="user_command" placeholder="Type your command here" autofocus autocomplete=off onkeydown="if(event.key === 'Enter') submitPracticeAnswer()">
        </div>
        <p id="feedback" class="feedback"></p>
        <button id="hint-button" onclick="showHint()">Show Hint</button>
        <button onclick="window.location.href='/'">Exit</button>
        <p id="hint" style="display: none;">Hint: {{ question.hint }}</p>
    </div>
</body>
</html>