<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Select Gameplay Mode</title>
    <link rel="stylesheet" href="{% static 'game/css/select_mode.css' %}">
</head>
<body>
    <h1>Select Gameplay Mode</h1>
    <button class="with-backspace" onclick="window.location.href='/practice/'">Practice Mode</button>
    <button class="with-backspace" onclick="window.location.href='/set_mode/with_backspace/'">With Backspace</button>
    <button class="without-backspace" onclick="window.location.href='/set_mode/without_backspace/'">Without Backspace</button>
</body>
</html>