<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Story Mode</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/xterm/css/xterm.css" />
  <link rel="stylesheet" href="{% static 'game/css/story_mode.css' %}" />
</head>
<body>
  <h1>Story Mode</h1>
  <div id="container">
    <div id="window-bar"></div>
    <div id="terminals">
      <div id="typed-terminal"></div>
      <div id="static-terminal"></div>
      <div id="input-terminal"></div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/xterm/lib/xterm.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/xterm-addon-fit/lib/xterm-addon-fit.js"></script>
  <script src="{% static 'game/js/windowBar.js' %}"></script>
  <script src="{% static 'game/js/terminals.js' %}"></script>
  <script src="{% static 'game/js/story_mode.js' %}"></script>
</body>
</html>
